	
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
		supported by Chrome, Edge, Opera and Firefox */
	

}

 * {
  box-sizing: border-box;
}

iframe{
  overflow-y: hidden;
  overflow-x: hidden; 
  width: 100%;
  height: auto;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;

}

.header {
  background-color: #4a4a4a;
  color: #ffffff;
  padding: 15px;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.TextCenter {
  text-align: center;
}

/* Button*/	
button {
  min-width: 60px;
  width: auto;
  height: 50px; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: black;
  background-color: #ffffff;
  margin: 10px;
  text-align: center;
  padding: 5px;  
  cursor: pointer; 

  -webkit-tap-highlight-color: transparent; 
} 
   
button:active {
  color: red;
  background-color: #ffffff;
}

button:focus {
    outline: 0;
}

/* Style the active class, and buttons on mouse-over */
.active {
  background-color: #fff;
  color: red;
}

/* btn feedback type button */

.btn { 
  /*max-width: 20%; */
  min-width: 60px;
  width: auto;
  height: 50px; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: black;
  background-color: #eeeeeeee;
  margin: 10px;
  text-align: center;
  padding: 5px; 


  /* display: inline-block; */
  cursor: pointer; /*changes cursor to hand symbol when you hoover*/

  -webkit-tap-highlight-color: transparent;
	  
} 


/* This allows Javascript/WebServer to control the button feedback*/ 
.btn.active {
  background-color: #ffffff;
}

/************* SourceSelect type button **************************/

.btn_green { 
  color: black;
  background-color: #66ff66;
  text-align: center;
  padding: 5px;  


  /* display: inline-block; */
  cursor: pointer; 

  -webkit-tap-highlight-color: transparent; 	  
} 

/* This allows Javascript/WebServer to control the button feedback*/
.btn_green.active { 
  background-color: #4CAF50;
  color: #ffffff;
}

.btn_red { 
  color: black;
  background-color: #ff9999;
  text-align: center;
  padding: 5px;  

/* display: inline-block; */
  cursor: pointer; 

  -webkit-tap-highlight-color: transparent;	  
} 

/* This allows Javascript/WebServer to control the button feedback*/
.btn_red.active { 
  background-color: #f44336;
  color: #ffffff;
}

input[type=button], input[type=submit], input[type=reset] {
/*max-width: 20%; */
  min-width: 60px;
  width: auto;
  height: 50px; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: black;
  background-color: #eeeeeeee;
  margin: 10px;
  text-align: center;
  padding: 5px; 
}


/*CONTAINERS*/

.infoContainer{
   background-color: #ffffff;
   text-align: center;
   float: left;
   width: auto;
   min-width:70px;
   min-height:240px;
   padding: 0 30px;
   box-sizing: border-box;
}

.camContainer{
   background-color: #ffffff;
   text-align: center;
   float: left;
   width: auto;
   min-width:960px;
   min-height: 70px;
   padding: 0 30px;
   box-sizing: border-box;
}

.innerInfo {
   background-color: #ffffff;
   text-align: center;
   padding: 5px;
   box-sizing: border-box;
   align-items: center;
   
}
.innerFrame {
   background-color: #ffffff;
   text-align: center;
   padding-bottom: 15px;
   width: auto;
   min-width: 160px;
   min-height: 150px;
   padding: 5px;
   box-sizing: border-box;
   align-items: center;
}

.innerCam {
   background-color: #ffffff;
   text-align: center;
   padding-bottom: 15px;
   float: left;
   width: auto;
   min-width: 1536px;
   min-height: 864px;
   padding: 5px;
   box-sizing: border-box;
}

.uptm { 
   font-size:18px;
}
		
/*
@media(max-width:600px){
   .keypadContainer{
	width:100%;
	float:none;
    }
}
*/

